<mat-card class="card">
  <div
    [ngClass]="!character.favorite ? 'card_icon_area' : 'card_icon_dark_area'"
    (click)="setFavorite(character)"
  >
    <mat-icon
      class="card_icon_selected"
      [ngClass]="
        character.favorite
          ? 'card_icon_dark material-symbols-fill'
          : 'card_icon card_icon_light material-symbols-outlined'
      "
      fontIcon="favorite"
    ></mat-icon>
  </div>
  <img class="card_image" mat-card-image [src]="character.image || defaultImage" />
  <mat-card-content>
    <p class="card_title" [matTooltip]="character.name">{{ character.name }}</p>
    <p
      *ngIf="character.species && character.species !== 'unknown'"
      class="card_subtitle"
    >
      {{ character.species }}
    </p>
    <p
      *ngIf="character.gender && character.gender !== 'unknown'"
      class="card_subtitle"
    >
      {{ character.gender }}
    </p>
  </mat-card-content>
</mat-card>
