.card {
    background-color: #0A0A0A;
    width: 224px;
    height: 100%;    
    border-radius: 12px;
}

.card_title {
    color: #FFFFFF;
    font-family: Creepster;
    font-size: 24px;
    font-weight: 400;
    margin: 7px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.card_subtitle {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #A4A4A4;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.card_image {
    height: 224px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.card_icon_dark_area {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border-radius: 0px 12px 0px 48px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card_icon_area {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border-radius: 0px 12px 0px 48px;
    cursor: pointer;
    transition: .3s;
}

.card_icon_area:hover {
    background-color: white;
}

.card_icon_area:hover > .card_icon_selected {
    color: black;
}

.card_icon {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1000;
    cursor: pointer;
}

.card_icon_light {
    color: #FAFAFA;

}

.card_icon_dark {
    color: #0A0A0A;
    margin: 12px 0px 0px 12px;
}

.loading {
    outline: 1px solid transparent;
    animation: pulseanim 0.9s ease-in-out infinite;
    background-color: #3D3D3D;  
  }
  @keyframes pulseanim {
    0% {  opacity: .9;}
    100% { opacity: .5;}
  }