<div class="list">
  <div class="list_top">
    <h1>{{ tabData.title }}</h1>
    <div *ngIf="tabData.hasASearch" class="list_top_search">
      <input
        id="search"
        [(ngModel)]="inputSearch"
        class="list_top_search_field"
        placeholder="Pesquisar"
        (ngModelChange)="onSearch(inputSearch)"
      />
    </div>
  </div>
  <div class="list_body_area">
    <ml-empty-search
      *ngIf="isEmpty"
      [title]="tabData.emptyTitle"
      [subtitle]="tabData.emptySubtitle"
      [usingButton]="tabData.emptyHasAButton"
      (backToHome)="backToHome.emit()"
    ></ml-empty-search>
    <div class="list_body_cards" *ngIf="!isEmpty">
      <ng-container
        *ngIf="isLoading; then unloaded; else loaded"
      ></ng-container>
    </div>
    <div *ngIf="tabData.showReferenceDiv" class="param-div" id="param"></div>
  </div>
</div>

<ng-template #loaded>
  <ml-card
    *ngFor="let caracter of caracteresData"
    class="list_body_card"
    [caracter]="caracter"
    (favoriteIsEmpty)="favoriteIsEmpty.emit()"
  ></ml-card>
</ng-template>

<ng-template #unloaded>
  <ml-skeleton class="list_body_card" [numberItems]="20"></ml-skeleton>
</ng-template>
